@import 'antd/dist/antd.css';

.login-form {
  max-width: 300px;
  margin: auto;
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.facebook-login {
  background-color: #8e24aa;
  border-color: #8e24aa;
}

.google-login {
  background-color: #cd5441;
  border-color: #cd5441;
}
